@font-face {
    font-family: Lato;
    src: url('https://fonts.googleapis.com/css?family=Lato');
}

$primary-font: 'Lato', sans-serif;

@font-face {
    font-family: 'Do Hyeon';
    src: url('https://fonts.googleapis.com/css?family=Do+Hyeon');
}

$secondary-font: 'Do Hyeon', sans-serif;

